# Ignoruj pliki i katalogi, które nie są potrzebne w finalnym obrazie kontenera.
# Pomaga to zmniejszyć rozmiar obrazu, przyspieszyć proces budowania i zwiększyć bezpieczeństwo.

__pycache__/
*.pyc
*.pyo
*.pyd
.Python

venv/
.venv/

.git/
.gitignore
Dockerfile
.dockerignore
README.md